.exchange {
    &__wrapper {
        max-width: 1200px;
        flex-direction: column;
        padding-bottom: 130px;
    }
    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 3px;
        background: var(--main-green, #38E7BA);
        width: 145px;
        height: 51px;
        font-family: "Gilroy-SemiBold", sans-serif;
        font-size: 16px;
        font-weight: 600;
        margin-top: 64px;
        &:hover {
            cursor: pointer;
        }
    }
    &__content {
        display: flex;
        gap: 20px;
    }
    &__heading {
        color: #27BE98;
        text-align: center;
        font-family: 'Gilroy-SemiBold', sans-serif;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 1.28px;
        text-transform: uppercase;
        padding-bottom: 8px;
    }
    &__subheading {
        color: #162329;
        text-align: center;
        font-family: 'Gilroy-SemiBold', sans-serif;
        font-size: 64px;
        font-weight: 600;
        line-height: 104%;
        padding-bottom: 72px;
    }
    &__first {
        display: flex;
        flex-direction: column;
        border-radius: 3px;
        align-items: center;
        &--title {
            font-family: 'Gilroy-Medium', sans-serif;
            font-size: 20px;
            font-weight: 500;
            line-height: normal;
            color: var(--Dark-Gray, #162329);
            text-align: center;
            padding-bottom: 27px;
        }
        &--buttons {
            display: flex;
            gap: 8px;
        }
        &--list {
            background: #FFF;
            padding: 32px 32px;
        }
        &--btn {
            &.active {
                background: #38E7BA;
            }
            display: flex;
            width: 68px;
            height: 35px;
            align-items: center;
            justify-content: center;
            text-align: center;
            border-radius: 3px;
            border: 1px solid #ECECF1;
            &:hover {
                cursor: pointer;
            }
        }
        &--search {
            display: flex;
            padding: 16px 16px;
            padding-left: 40px;
            background: transparent url(../img/search__icon.svg) no-repeat 14px center;
            align-items: center;
            width: 220px;
            border-radius: 3px;
            border: 0;
            margin: 16px 0;
            &:focus {
                outline: none;
            }
            &:hover {
                cursor: text;
            }
        }
        &--data {
            display: flex;
            flex-direction: column;
            gap: 4px;
        }
        &--item {
            display: flex;
            align-items: center;
            width: 220px;
            padding: 16px;
            border-radius: 3px;
            border: 1px solid #ECECF1;
            height: 56px;
            &:hover {
                cursor: pointer;
            }
            &.active {
                background: #38E7BA;
                border: 1px solid #38E7BA;
            }
        }
        &--logo {
            width: 24px;
            height: 24px;
            margin-right: 8px;
        }
        &--text {
            color: #000002;
            font-family: 'Gilroy-Medium', sans-serif;
            font-size: 16px;
            font-weight: 500;
        }

    }
    &__second {
        display: flex;
        flex-direction: column;
        border-radius: 3px;
        &--title {
            font-family: 'Gilroy-Medium', sans-serif;
            font-size: 20px;
            font-weight: 500;
            line-height: normal;
            color: var(--Dark-Gray, #162329);
            text-align: center;
            padding-bottom: 27px;
        }
        &--buttons {
            display: flex;
            gap: 8px;
        }
        &--btn {
            &.active {
                background: #38E7BA;
            }
            display: flex;
            width: 68px;
            height: 35px;
            align-items: center;
            justify-content: center;
            text-align: center;
            border-radius: 3px;
            border: 1px solid #ECECF1;
            &:hover {
                cursor: pointer;
            }
        }
        &--search {
            display: flex;
            padding: 16px 16px;
            padding-left: 40px;
            background: transparent url(../img/search__icon.svg) no-repeat 14px center;
            align-items: center;
            width: 220px;
            border-radius: 3px;
            border: 0;
            margin: 16px 0;
            &:focus {
                outline: none;
            }
            &:hover {
                cursor: text;
            }
        }
        &--list {
            background: #FFF;
            padding: 32px 32px;
        }
        &--data {
            display: flex;
            flex-direction: column;
            gap: 4px;
        }
        &--item {
            display: flex;
            gap: 8px;
            padding: 16px 16px;
            border-radius: 3px;
            border: 1px solid #ECECF1;
            height: 73px;
            &:hover {
                cursor: pointer;
            }
            &.active {
                background: #38E7BA;
                border: 1px solid #38E7BA;
                .exchange__second--heading {
                    color: #FFF;
                }
                .exchange__second--subheading {
                    color: #FFF;
                }
            }
        }
        &--logo {
            width: 24px;
            height: 24px;
        }
        &--text {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }
        &--heading {
            color: #000002;
            font-family: 'Gilroy-Medium', sans-serif;
            font-size: 16px;
            font-weight: 500;
        }
        &--subheading {
            color: rgba(0, 0, 2, 0.40);
            font-family: 'Gilroy-Medium', sans-serif;
            font-size: 12px;
            font-weight: 500; 
        }
    }
    &__third {
        display: flex;
        flex-direction: column;
        border-radius: 3px;
        align-items: center;
        &--title {
            font-family: 'Gilroy-Medium', sans-serif;
            font-size: 20px;
            font-weight: 500;
            line-height: normal;
            color: #162329;
            text-align: center;
            padding-bottom: 27px;
        }
        &--list {
            background: #FFF;
            display: flex;
            flex-direction: column;
            padding: 32px 32px 72px 32px; 
            gap: 4px;
        }
        &--item {
            display: flex;
            align-items: center;
            border-radius: 3px;
            border: 1px solid #ECECF1;
            gap: 8px;
            height: 73px;

        }
        &--text {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 8px;
        }
        &--logo {
            width: 24px;
            height: 24px;
            flex-shrink: 0;
        }
        &--heading {
            color: #000002;
            font-family: 'Gilroy-Medium', sans-serif;
            font-size: 16px;
            font-weight: 500;
        }
        &--subheading {
            color: rgba(0, 0, 2, 0.40);
            font-family: 'Gilroy-Medium', sans-serif;
            font-size: 12px;
            font-weight: 500; 
        }
        &--first {
            width: 218px;
            gap: 8px;
            padding: 16px 16px;
            display: flex;
            height: 73px;
        }
        &--arrow {
            width: 24px;
            height: 24px;
        }
        &--time {
            color: rgba(0, 0, 2, 0.40);
            font-family: 'Gilroy-Medium', sans-serif;
            font-size: 14px;
            font-weight: 500; 
            padding-right: 16px;
        }
    }
}
@media screen and (max-width: 1250px) {
    .exchange {
        &__heading {
            font-size: 12px;
        }
        &__subheading {
            font-size: 48px;
        }
        &__content {
            display: grid;
            grid-auto-columns: 1fr 1fr;
        }
        &__first {
            grid-column: 1;
        }
        &__second {
            grid-column: 2;
        }
        &__third {
            grid-column: span 2;
        }
    }
}
@media screen and (max-width: 800px) {
    .exchange {
        &__wrapper {
            padding-bottom: 75px;
        }
        &__subheading {
            font-size: 32px;
        }
        &__first {
            height: 585px;
            overflow: hidden;
            &--list {
                overflow: scroll;
                padding: 16px 16px;
            }
            
        }
        &__second {
            height: 585px;
            overflow: hidden;
            &--list {
                overflow: scroll;
                padding: 16px 16px;
            }

        }
        &__third {
            &--list {
                padding: 16px 16px;
            }
        }
        
    }

}
@media screen and (max-width: 560px) {
    .exchange {
        &__content {
            grid-auto-columns: unset;
            grid-template-columns: 1fr;
        }
        &__first {
            height: 250px;
        }
        &__second {
            height: 250px;
            grid-column: 1;
        }
        &__third {
            &--list {
                padding: 8px 8px;
            }
            &--item {
                gap: 2px;
            }
            &--first {
                width: 120px;
                gap: 2px;
                padding: 4px 4px;
                height: unset;
            }
            &--heading {
                font-size: 12px;
            }
            &--time {
                padding-right: 4px;
                font-size: 12px;
            }
            &--text {
                gap: 0;
            }
            &--arrow {
                width: 20px;
                height: 20px;
            }
        }
    }
}