.exchange {
    &__wrapper {
        max-width: 1200px;
        flex-direction: column;
    }
    &__content {
        display: flex;
        gap: 20px;
    }
    &__heading {
        color: #27BE98;
        text-align: center;
        font-family: 'Gilroy-SemiBold', sans-serif;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 1.28px;
        text-transform: uppercase;
        padding-bottom: 8px;
    }
    &__subheading {
        color: #162329;
        text-align: center;
        font-family: 'Gilroy-SemiBold', sans-serif;
        font-size: 64px;
        font-weight: 600;
        line-height: 104%;
        padding-bottom: 72px;
    }
    &__first {
        display: flex;
        flex-direction: column;
        border-radius: 3px;
        align-items: center;
        &--title {
            font-family: 'Gilroy-Medium', sans-serif;
            font-size: 20px;
            font-weight: 500;
            line-height: normal;
            color: var(--Dark-Gray, #162329);
            text-align: center;
            padding-bottom: 27px;
        }
        &--buttons {
            display: flex;
            gap: 8px;
        }
        &--list {
            background: #FFF;
            padding: 32px 32px;
        }
        &--btn {
            display: flex;
            width: 68px;
            height: 35px;
            align-items: center;
            justify-content: center;
            text-align: center;
            border-radius: 3px;
            border: 1px solid #ECECF1;
            &:hover {
                cursor: pointer;
            }
        }
        &--search {
            display: flex;
            padding: 16px 16px;
            padding-left: 40px;
            background: transparent url(../img/search__icon.svg) no-repeat 14px center;
            align-items: center;
            width: 220px;
            border-radius: 3px;
            border: 0;
            margin: 16px 0;
            &:focus {
                outline: none;
            }
            &:hover {
                cursor: text;
            }
        }
        &--data {
            display: flex;
            flex-direction: column;
            gap: 4px;
        }
        &--item {
            display: flex;
            align-items: center;
            width: 220px;
            padding: 16px;
            border-radius: 3px;
            border: 1px solid #ECECF1;
            height: 56px;
        }
        &--logo {
            width: 24px;
            height: 24px;
            margin-right: 8px;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        &--text {
            color: #000002;
            font-family: 'Gilroy-Medium', sans-serif;
            font-size: 16px;
            font-weight: 500;
        }

    }
    &__second {
        &--title {
            font-family: 'Gilroy-Medium', sans-serif;
            font-size: 20px;
            font-weight: 500;
            line-height: normal;
            color: var(--Dark-Gray, #162329);
            text-align: center;
            padding-bottom: 27px;
        }
        &--buttons {
            display: flex;
            gap: 8px;
        }
        &--btn {
            display: flex;
            width: 68px;
            height: 35px;
            align-items: center;
            justify-content: center;
            text-align: center;
            border-radius: 3px;
            border: 1px solid #ECECF1;
            &:hover {
                cursor: pointer;
            }
        }
        &--search {
            display: flex;
            padding: 16px 16px;
            padding-left: 40px;
            background: transparent url(../img/search__icon.svg) no-repeat 14px center;
            align-items: center;
            width: 220px;
            border-radius: 3px;
            border: 0;
            margin: 16px 0;
            &:focus {
                outline: none;
            }
            &:hover {
                cursor: text;
            }
        }
        &--list {
            background: #FFF;
            padding: 32px 32px;
        }
        &--data {
            display: flex;
            flex-direction: column;
            gap: 4px;
        }
        &--item {
            display: flex;
            gap: 8px;
            padding: 16px 16px;
            border-radius: 3px;
            border: 1px solid #ECECF1;
            height: 73px;
        }
        &--logo {
            width: 24px;
            height: 24px;
        }
        &--text {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }
        &--heading {
            color: #000002;
            font-family: 'Gilroy-Medium', sans-serif;
            font-size: 16px;
            font-weight: 500;
        }
        &--subheading {
            color: rgba(0, 0, 2, 0.40);
            font-family: 'Gilroy-Medium', sans-serif;
            font-size: 12px;
            font-weight: 500; 
        }
    }
    &__third {
        &--title {
            font-family: 'Gilroy-Medium', sans-serif;
            font-size: 20px;
            font-weight: 500;
            line-height: normal;
            color: var(--Dark-Gray, #162329);
            text-align: center;
            padding-bottom: 27px;
        }
        &--list {
            background: #FFF;
            display: flex;
            flex-direction: column;
            padding: 32px 32px 72px 32px; 
            gap: 4px;
        }
        &--item {
            display: flex;
            align-items: center;
            border-radius: 3px;
            border: 1px solid #ECECF1;
            gap: 8px;
            height: 73px;

        }
        &--text {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 8px;
        }
        &--logo {
            width: 24px;
            height: 24px;
            flex-shrink: 0;
        }
        &--heading {
            color: #000002;
            font-family: 'Gilroy-Medium', sans-serif;
            font-size: 16px;
            font-weight: 500;
        }
        &--subheading {
            color: rgba(0, 0, 2, 0.40);
            font-family: 'Gilroy-Medium', sans-serif;
            font-size: 12px;
            font-weight: 500; 
        }
        &--first {
            width: 218px;
            gap: 8px;
            padding: 16px 16px;
            display: flex;
            height: 73px;
        }
        &--arrow {
            width: 24px;
            height: 24px;
        }
        &--time {
            color: rgba(0, 0, 2, 0.40);
            font-family: 'Gilroy-Medium', sans-serif;
            font-size: 14px;
            font-weight: 500; 
            padding-right: 16px;
        }
    }
}
@media screen and (max-width: 1250px) {
    .exchange {
        &__heading {
            font-size: 12px;
        }
        &__subheading {
            font-size: 48px;
        }
    }
}