.faq {
    &__wrapper {
        flex-direction: column;
        padding-bottom: 166px;
    }
    &__heading {
        color: #27BE98;
        text-align: center;
        font-family: 'Gilroy-SemiBold', sans-serif;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 1.28px;
        text-transform: uppercase;
        padding-bottom: 8px;
    }
    &__image {
        width: 52%;
        max-width: 566px;
        height: 100%;
        max-height: 428px;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            background-image: url(../img/faq__gradient.png);
            width: 135%;
            height: 135%;
            overflow: hidden;
            top: 0;
            left: -25px;
            background-size: cover;
            background-position: center;
        }
    }
    &__subheading {
        color: #162329;
        text-align: center;
        font-family: 'Gilroy-SemiBold';
        font-size: 64px;
        font-style: normal;
        font-weight: 600;
        line-height: 104%;
        padding-bottom: 69px;
    }
    &__content {
        display: flex;
        gap: 109px;
    }
    &__list {
        display: flex;
        flex-direction: column;
    }
    &__item {
        display: flex;
        padding: 32px 32px 32px 0px;
        border-top: 1px solid #ECECF1;
        flex-direction: column;
        &--heading {
            display: flex;
            justify-content: space-between;
            width: 100%;
            max-width: 588px;
        }
        &--subheading {
            display: none;
            max-width: 588px;
            font-family: 'Gilroy-Regular';
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
        }
        &--title {
            font-family: 'Gilroy-Medium', sans-serif;
            font-size: 20px;
            font-weight: 500;
        }
        &--button {
            width: 16px;
            height: 16px;
            flex-shrink: 0;
        }

    }
}
@media screen and (max-width: 1250px) {
    .faq {
        &__heading {
            font-size: 12px;
        }
        &__subheading {
            font-size: 48px;
        }
        &__content {
            gap: 20px;
        }
        &__item {
            padding: 16px 16px 16px 0px;
            &--heading {
                max-width: 400px;
            }
            &--title {
                font-size: 16px;
            }
        }
    }
}
@media screen and (max-width: 800px) {
    .faq {
        &__content {
            flex-direction: column;
            align-items: center;
        }
        &__subheading {
            font-size: 32px;
        }
        &__image {
            width: 70%;
        }
        &__item {
            &--button {
                margin-left: 2px;
            }
        }
    }
}