section {
    background: var(--background-color, #FAFAFA);


}
.header {
    position: relative;
    &__list {
        display: flex;
        align-items: center;
    }
    &__wrapper {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        padding-top: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__logo {
        display: flex;
        align-items: center;
        padding-right: 53px;
        &--burger {
            display: none;
            width: 20px;
            height: 20px;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
    &__content {
        display: flex;
        align-items: center;
    }
    &__text {
        padding-right: 16px;
        font-family: 'Gilroy-Regular', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        &:nth-of-type(4) {
            padding-right: 80px;
        }
    }
    &__theme {
        padding-right: 51px;
        display: flex;
        align-items: flex-start;
        &--icon {
            width: 16px;
            height: 16px;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        &--text {
            color: var(--dark-gray, #162329);
            font-family: 'Gilroy-Medium', sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            padding-right: 4px;
        }
    }
    &__logo--img {
        width: 27px;
        height: 24px;
        margin-right: 8px;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &__logo--text {
        color: #162329;
        font-family: 'Gilroy-SemiBold', sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    &__buttons {
        display: flex;
    }
    &__btn--btn {
        display: block;
    }
    &__btn {
        width: 129px;
        height: 43px;
        background: var(--main-green, #38E7BA);
        display: flex;
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--dark-gray, #162329);
        font-family: 'Gilroy-SemiBold', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
    }
    &__btn--second {    
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--dark-gray, #162329);
        font-family: 'Gilroy-SemiBold', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        width: 129px;
        height: 43px;
    }
    &__btn--second {
        margin-left: 8px;
        border: 1px solid var(--dark-gray, #162329);
        display: flex;
        border-radius: 3px;
    }
    &__burger {
        display: flex;
        padding-right: 39px;
        align-items: center;
        justify-content: center;
        &--text {
            color: #000002;
            font-family: 'Gilroy-Medium', sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
        &--icon {
            width: 20px;
            height: 20px;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }

}
@media screen and (max-width: 1250px) {
    .header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        &__logo {
            padding-right: 15px;
            &--burger {
                display: block;
            }
        }
        &__list {
            display: none;
        }
        &__theme {
            padding-right: 15px;
        }


    }
}
@media screen and (max-width: 800px) {
    .header {
        &__btn {
            width: 80px;
            font-size: 10px;
            height: 30px;
            &--second {
                width: 80px;
                height: 30px;
                font-size: 10px;
            }
        }
        &__burger {
            padding-right: 15px;
        }
        &__logo {
            &--text {
                font-size: 14px;
            }
            &--img {
                width: 20px;
                height: 18px;
                margin-right: unset;
            }
        }

        
    }
}
@media screen and (max-width: 800px) {
    .header {
        &__theme {

            &--text {
                font-size: 13px;
            }
            &--icon {
                height: 14px;
                width: 14px;
            }
        }
        &__buttons {
            display: flex;
            flex-direction: column;
        }
        &__btn {
            width: 70px;
            height: 20px;
            font-size: 9px;
            margin-bottom: 5px;
            &--second {
                width: 70px;
                height: 20px;
                font-size: 9px;
                margin: unset;
            }
        }
        &__logo {
            padding-right: 10px;
            &--text {
                font-size: 12px;
            }
            &--img {
                width: 15px;
                height: 15px;
            }
        }
        &__burger {
            padding-right: 10px;
        }
    }
}