
.header {
    position: relative;
    &__list {
        display: flex;
        align-items: center;
    }
    &__burger {
        display: none;
    }
    &__wrapper {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        padding-top: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 15px;
        padding-left: 15px;
    }
    &__logo {
        display: flex;
        align-items: center;
        padding-right: 53px;
        z-index: 6;
        &:hover {
            cursor: pointer;
        }
    }
    &__content {
        display: flex;
        align-items: center;
    }
    &__text {
        padding-right: 16px;
            font-family: 'Gilroy-Regular', sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
        &:nth-of-type(4) {
            padding-right: 80px;
        }
        &:hover {
            color: #38E7BA;
        }
    }
    &__theme {
        padding-right: 51px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 5;
        &--icon {
            width: 16px;
            height: 16px;
            display: flex;
            &:hover {
                cursor: pointer;
            }
        }
        &--text {
            color: #162329;
            font-family: 'Gilroy-Medium', sans-serif;
            font-size: 14px;
            font-weight: 500;
            padding-right: 4px;
        }
    }
    &__logo {
        &--text {
            color: #162329;
            font-family: 'Gilroy-SemiBold', sans-serif;
            font-size: 20px;
            font-weight: 600;
        }
        &--img {
            width: 27px;
            height: 24px;
            margin-right: 8px;
        }
    }
    &__buttons {
        display: flex;
    }
    &__btn {
        width: 129px;
        height: 43px;
        background: #38E7BA;
        display: flex;
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #162329;
        font-family: 'Gilroy-SemiBold', sans-serif;
        font-size: 16px;
        font-weight: 600;
        &--btn {
            display: block;
        }
        &--second {
            display: flex;
            align-items: center;
            justify-content: center;
            color: #162329;
            font-family: 'Gilroy-SemiBold', sans-serif;
            font-size: 16px;
            font-weight: 600;
            width: 129px;
            height: 43px;
            margin-left: 8px;
            border: 1px solid #162329;
            display: flex;
            border-radius: 3px;
            &:hover {
                border: 1px solid #38E7BA;
            }
        }
    }
    &__lang {
        display: flex;
        padding-right: 39px;
        align-items: center;
        justify-content: center;
        z-index: 5;
        &.active {
            .header__lang--icon {
                transition: all 0.3s ease-in;
                transform: rotate(180deg);
            }
            .header__lang--menu {
                display: block;
                z-index: 5;
            }
        }
        &--text {
            color: #000002;
            font-family: 'Gilroy-Medium', sans-serif;
            font-size: 14px;
            font-weight: 500;
        }
        &--icon {
            width: 20px;
            height: 20px;
        }
        &--menu {
            display: none;
            font-family: 'Gilroy-Medium', sans-serif;
            font-size: 14px;
            font-weight: 500;
            position: absolute;
            background: #FFF;
            top: 50px;
            width: 37.7px;
            height: 40px;
        }
        &--item {
            color: #000002;
        }
    }

}
.menu {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: #FFF;
    z-index: 4;
    transition: all .6s ease-in-out;
    transform: translateY(-100%);
    &.active {
        visibility: visible;
        transform: translateY(0);
        overflow: hidden;
    } 
    &__list {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 25px;
        &--item {
            font-family: 'Gilroy-Regular', sans-serif;
            font-size: 32px;
            font-weight: 400;
            line-height: 48px;
            &:hover {
                color: #38E7BA;
            }
        }
    }
    &__buttons {
        display: flex;
        gap: 20px;
        &--first {
            display: flex;
            align-items: center;
            justify-content: center;
            color: #162329;
            font-family: 'Gilroy-SemiBold', sans-serif;
            font-size: 16px;
            font-weight: 600;
            width: 129px;
            height: 43px;
            display: flex;
            padding: 12px 16px;
            justify-content: center;
            align-items: flex-start;
            gap: 4px;
            border-radius: 3px;
            background: #38E7BA;
        }
        &--second {
            display: flex;
            align-items: center;
            justify-content: center;
            color: #162329;
            font-family: 'Gilroy-SemiBold', sans-serif;
            font-size: 16px;
            font-weight: 600;
            width: 129px;
            height: 43px;
            display: flex;
            padding: 12px 16px;
            justify-content: center;
            align-items: flex-start;
            gap: 4px;
            border-radius: 3px;
            border: 1px solid #162329;
        }   
    }
}
@media screen and (max-width: 1250px) {
    .header {
        &__wrapper {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
        &__logo {
            padding-right: 15px;
        }
        &__list {
            display: none;
        }
        &__theme {
            padding-right: 15px;
        }
        &__content {
            margin-left: auto;
        }
    }
}
@media screen and (max-width: 1200px) {
    .header {
        &__burger {
            display: block;
            position: relative;
            transition: all .5s ease-in-out;
            width: 25px;
            height: 2.5px;
            background-color: #000000;
            margin-left: 15px;
            flex-shrink: 0;
            transition: all .5s ease-in-out;
            &.active {
                transition: all .1s ease-in-out;
                position: relative;
                background-color: #FFF;
                &::before {
                    top: calc(50% - 1px);
                    left: 0;
                    transform: rotate(45deg);
                    transition: all .3s ease-in-out;
                }
                &::after {
                    top: calc(50% - 1px);
                    left: 0;
                    transform: rotate(-45deg);
                    transition: all .3s ease-in-out;
                }
            }
            &--wrapper {
                display: flex;
                height: 50px;
                align-items: center;
                justify-content: center;
                z-index: 6;
                
            }
            &::after {
                content: '';
                position: absolute;
                width: 25px;
                height: 2.5px;
                background-color: #000000;
                top: 6px;
                transition: all .3s ease-in-out;
            }
            &::before {
                content: '';
                position: absolute;
                width: 25px;
                height: 2.5px;
                background-color: #000000;
                bottom: 6px;
                transition: all .3s ease-in-out;
            }
        }
    }
}
@media screen and (max-width: 800px) {
    .menu {
        &__list {
            &--item {
                font-size: 24px;
                line-height: 34px;
            }
        }
    }
    .header {
        &__btn {
            display: none;
            &--second {
                display: none;
            }
        }
        &__lang {
            padding-right: 15px;
        }

        
    }
}
@media screen and (max-width: 600px) {
    .menu {
        &__list {
            &--item {
                font-size: 16px;
                line-height: 24px;
            }
        }
    }
}
@media screen and (max-width: 450px) {
    .header {
        &__burger {
            margin-left: 8px
        }
        &__wrapper {
            padding-left: 8px;
            padding-right: 8px;
        }
        &__theme {

            &--text {
                font-size: 13px;
            }
            &--icon {
                height: 14px;
                width: 14px;
            }
        }
        &__buttons {
            display: flex;
            flex-direction: column;
        }
        &__btn {
            width: 70px;
            height: 20px;
            font-size: 9px;
            margin-bottom: 5px;
            &--second {
                width: 70px;
                height: 20px;
                font-size: 9px;
                margin: unset;
            }
        }
        &__logo {
            padding-right: 10px;
            &--text {
                font-size: 14px;
            }
            &--img {
                width: 27px;
                height: 24px;
                margin-right: 5px;
            }
        }
        &__lang {
            padding-right: 6px;
        }
    }
}