.info {
    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__title {
        display: flex;
        justify-content: center;
        color: #38E7BA;
        text-align: center;
        font-family: 'Gilroy-Semibold', sans-serif;
        font-size: 64px;
        font-style: normal;
        font-weight: 600;
        line-height: 64%;
    }
    &__subtitle {
        display: flex;
        justify-content: center;
        text-align: center;
        font-family: 'Gilroy-Regular', sans-serif;
        width: 825px;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 42px;
        padding-bottom: 64px;
    }
    &__content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
    }
    &__line {
        width: 2px;
        height: 97px;
        border-radius: 5px;
        background: rgba(85, 117, 109, 0.07);
        margin-left: 37px;
        margin-right: 37px;
    }
    &__item {
        width: 227px;
        &--heading {
            text-align: center;
            font-family: 'Gilroy-Semibold', sans-serif;
            font-size: 48px;
            font-style: normal;
            font-weight: 600;
            line-height: 104%;

            color: #27BE98;
            padding-bottom: 16px;
        }
        &--subheading {
            font-family: 'Gilroy-Medium', sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px;
        }

    }
}
@media screen and (max-width: 1250px) {
    .info {
        &__title {
            font-size: 48px
        }
        &__subtitle {
            font-size: 24px;
            width: 800px;
        }
        &__item {
            width: 180px;
            &--heading {
                font-size: 32px;
            }
            &--subheading {
                font-size: 14px;
            }
        }
        &__line {
            margin: 0 20px;
        }
    }
}
@media screen and (max-width: 1250px) {
    .info {
        &__title {
            font-size: 32px;
            padding-bottom: 20px;
            
        }
        &__subtitle {
            font-size: 16px;
            width: 570px;
            line-height: 24px;
        }
        &__line {
            height: 60px;
            margin: 0 10px;
        }
        &__item {
            width: 120px;
            &--heading {
                font-size: 20px;
            }
            &--subheading {
                font-size: 14px;
                line-height: 15px;
            }
        }
    }
}
@media screen and (max-width: 600px) {
    .info {
        &__content {
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 1fr;
            column-gap: 20px;
            row-gap: 20px;
        }
        &__subtitle {
            width: 370px;

        }
        &__item {
            width: 120px;
            &--subheading {
                font-size: 16px;
            }
            &--heading {
                font-size: 16px;
                padding-bottom: 8px;
            }
        }
        &__line {
            display: none;
        }
    }

}
@media screen and (max-width: 400px) {
    .info {
        &__content {
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 1fr;
            column-gap: 20px;
            row-gap: 20px;
        }
        &__subtitle {
            width: 255px;
            font-size: 16px;
            line-height: 18px;
            padding-bottom: 35px;
        }
        &__item {
            width: 135px;
            &--heading {
                font-size: 18px;
            }
            &--subheading {
                font-size: 16px;
                line-height: 12px;
            }
        }
        &__line {
            display: none;
        }
    }
}
