.invite {
    &__wrapper {
        display: flex;
        gap: 105px;
        padding-bottom: 134px;
    }
    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 84%;
    }
    &__heading {
        font-family: 'Gilroy-SemiBold', sans-serif;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 1.28px;
        padding-bottom: 16px;
        color: #27BE98;
        text-transform: uppercase;
    }
    &__subheading {
        font-family: 'Gilroy-SemiBold';
        font-size: 64px;
        font-weight: 600;
        line-height: 104%;
        padding-bottom: 32px;
    }
    &__text {
        font-family: 'Gilroy-Regular', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        padding-bottom: 56px;
    }
    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 3px;
        background: #38E7BA;
        color: #162329;
        font-family: 'Gilroy-Semibold', sans-serif;
        font-size: 16px;
        font-weight: 600;
        width: 145px;
        height: 51px;

        &:hover {
            border: 1px solid #38E7BA;
            background: #FFF;
            cursor: pointer;
        }
    }
    &__image {
        width: 100%;
        position: relative;
        z-index: 1;
        &::after {
            content: '';
            position: absolute;
            background-image: url(../img/invite__gradient.png);
            overflow: hidden;
            width: 100%;
            height: 100%;
            top: 100px;
            z-index: -1;
            left: 0;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            pointer-events: none;
        }
        &::before {
            content: '';
            background-image: url(../img/invite__gradient2.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            position: absolute;
            width: 130%;
            height: 110%;
            overflow: hidden;
            left: -100px;
            top: -10px;
            z-index: -1;
            pointer-events: none;
        }
    }
}
@media screen and (max-width: 1250px) {
    .invite {
        &__heading {
            font-size: 12px;
        }
        &__subheading {
            font-size: 48px;
        }
        &__image {
            max-width: 500px;
            width: 100%;
        }
        &__wrapper {
            gap: 35px;
        }
    }   
}
@media screen and (max-width: 800px) {
    .invite {
        &__wrapper {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        &__subheading {
            font-size: 32px;
        }
        &__content {
            align-items: center;
        }
    }
}
@media screen and (max-width: 400px) {
    .invite {
        &__image {
            &::after {
                top: 60px;
            }
            &::before {
                
                left: -60px;
            }
        }
    }
}
