body {
    background: var(--Background-color, #FAFAFA);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.first {
    
    &__wrapper {
        padding-top: 105px;
        max-width: 1280px;
        padding-bottom: 87px;
    }

    &__title {
        &--subheading {
            color: var(--green-for-text, #27BE98);
            font-family: 'Gilroy-SemiBold', sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            letter-spacing: 1.28px;
            text-transform: uppercase;
            padding-bottom: 24px;
        }
        &--heading {
            font-family: 'Gilroy-SemiBold', sans-serif;
            font-size: 64px;
            font-style: normal;
            font-weight: 600;
            line-height: 104%;
            padding-bottom: 64px;
        }
    }
    &__list {
        display: flex;
        justify-content: space-between;
        gap: 29px;
        max-width: 483px;
        position: relative;
        &:after {
            content: '';
            position: absolute;
            width: 350px;
            height: 1px;
            top: 0;
            background: rgba(56, 231, 186);
            top: 10px;
            left: 15px;
            z-index: 1;
        }

    }
    &__list {
        &--item {
            position: relative;
            z-index: 5;
            display: flex;
            flex-direction: column;
            &:last-of-type {
                margin-right: unset;
            }
            &:nth-of-type(1) {
                width: 128px;
            }
            &:nth-of-type(2) {
                width: 161px;
            }
            &:nth-of-type(3) {
                width: 135px;
            }
        }
    }
    &__list {
        &--text {
            font-family: 'Gilroy-Medium', sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px;
        }   
    }
    &__list {
        &--img {
            width: 20px;
            height: 20px;
            margin-bottom: 8px;
        }
        img {
            background-color: #fff;
            border-radius: 50%;
            overflow: hidden;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &__image {
        width: 699px;
        height: 533px;
        flex-shrink: 0;
        margin-left: 67px;
        position: relative;
        &::after {
            content: '';
            display: none;
            background-image: url(../img/main__ellipse.png);
            background-size: cover;
            z-index: -1;
            position: absolute;
            width: 120%;
            height: 120%;
            left: -20px;
            top: -50px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &__btn--btn {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 3px;
        background: var(--main-green, #38E7BA);
        width: 145px;
        height: 51px;
        font-family: 'Gilroy-SemiBold', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-top: 64px;

    }
}
@media screen and (max-width: 1250px) {
    .first {
        &__wrapper {
            padding-left: 15px;
            padding-right: 15px;
        }
        &__image {
            width: 400px;
            height: 400px;
            margin-left: 45px;
        }
        &__title {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            &--subheading {
                font-size: 12px;
            }
            &--heading {
                font-size: 48px;
            }
        }
        &__list {
            &::after {
                width: calc(100% - 120px);
            }
            &--item:nth-of-type(1) {
                width: unset;
            }
            &--item:nth-of-type(2) {
                width: unset;
            }
            &--item:nth-of-type(3) {
                width: unset;
            }
        }
        &__content {
            padding-left: unset;
        }
    }
}
@media screen and (max-width: 800px) {
    .first {
        &__wrapper {
            flex-direction: column;
        }
        &__title {
            &--heading {
                font-size: 32px;
            }
        }
        &__content {
            display: flex;
            flex-direction: column;
            justify-content: center;

        }
        &__image {
            margin: unset;
        }
        &__list {
            &--img {
                margin: 0 auto;
                margin-bottom: 8px;
            }
        }
        &__btn {
            &--btn {
                margin-bottom: 30px;
            }
        }
        
    }
}
@media screen and (max-width: 400px) {
    .first {
        &__image {
            width: 300px;
            height: 250px;
        }
        &__list {
            &:after {
                width: 100px;
            }
        }
        &__btn {
            &--btn {
                margin-top: 32px;

            }
        }
    }
}
