.partners {
    &__heading {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Gilroy-Regular', sans-serif;
        font-size: 32px;
        font-weight: 400;
        line-height: 42px;
        color: #95A8B6;
        padding-bottom: 40px;
    }
}
.swiper {
    &-inner {
        display: flex;
        position: relative;
        align-items: center;
        padding-bottom: 60px;
    }
    &-button {
        &-next,
        &-prev {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            left: unset;
            right: unset;
            width: 46px;
            height: 46px;
            margin-right: 70px;
            flex-shrink: 0;
            margin-top: 3px;
            &::after {
                display: none;
            }
            img {
                width: 100%;
                height: 100%;

            }
        }
        &-next {
            margin-right: unset;
            margin-left: 70px;
            transform: rotate(180deg);
        }
    }
    &-slide {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;
        overflow: hidden;
        padding: 2px;
        img {
            flex-shrink: 0;
        }
    }
}
@media screen and (max-width: 1024px) {
    .swiper {
        &-button {
            &-next,
            &-prev {
                width: 30px;
                height: 30px;
            }
        }
    }
}
@media screen and (max-width: 800px) {
    .swiper {
        &-button {
            &-next {
                margin-left: 25px;
            }
            &-prev {
                margin-right: 25px;
            }
        }
    }
}