.plan {
    &__wrapper {
        flex-direction: column;
        padding-bottom: 130px;
    }
    &__heading {
        color: #27BE98;
        text-align: center;
        font-family: 'Gilroy-SemiBold', sans-serif;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 1.28px;
        text-transform: uppercase;
        padding-bottom: 8px;
    }
    &__subheading {
        color: #162329;
        text-align: center;
        font-family: 'Gilroy-SemiBold';
        font-size: 64px;
        font-weight: 600;
        line-height: 104%;
        padding-bottom: 87px;

    }
    &__content {
        display: flex;
        gap: 24px;
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #FFF;
        padding: 60px 32px 48px 32px;
        text-align: center;
        max-width: 275px;
        position: relative;
        &--img {
            width: 103px;
            height: 103px;
            margin-bottom: 28px;
            position: relative;
            z-index: 2;
            &::after {
                content: '';
                position: absolute;
                overflow: hidden;
                width: 200%;
                height: 250%;
                z-index: -1;
                background-image: url(../../assets/img/how__gradient.png);
                top: -60px;
                left: -60px;
                pointer-events: none;
                
            }
        }
        &--support {
            position: absolute;
            top: 0;
            left: 0;
            width: 120%;
            height: 120%;
        }
        &--text {
            font-size: 20px;
            font-family: 'Gilroy-Medium';
            font-weight: 500;
            line-height: normal;
            span {
                color: #27BE98;
            }
        }
    }
    &__comingsoon {
        position: absolute;
        top: 51px;
        right: -50%;
        transform: translateX(-50%);
        width: 119px;
        height: 119px;
        z-index: 3;
        background-color: #3AD4AD;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &--img {
            width: 24px;
            height: 24px;
            margin-bottom: 4px;
            
        }
        &--text {
            font-family: 'Gilroy-Medium';
            font-size: 16px;
            text-align: center;
            font-weight: 500;
            line-height: 20px;
            color: #FFF;
            
        }
    }
}
@media screen and (max-width: 1250px) {
    .plan {
        &__heading {
            font-size: 12px;
        }
        &__subheading {
            font-size: 48px;
        }
        &__content {
            gap: 14px;
        }
        &__item {
            padding: 46px 24px 32px 24px;
            &--text {
                font-size: 16px
            }
        }
    }
}   
@media screen and (max-width: 1000px) {
    .plan {
        &__comingsoon {
            width: 100px;
            height: 100px;
        }
    }
}
@media screen and (max-width: 900px) {
    .plan {
        &__comingsoon {
            right: -60%;
        }
    }
}
@media screen and (max-width: 800px) {
    .plan {
        &__wrapper {
            padding-bottom: 75px;
        }
        &__content {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        &__subheading {
            font-size: 32px
        }
        &__item {
            max-width: unset;
        }
        &__comingsoon {
            right: 100%;
            left: 100%;
            margin: auto;
        }
    }
}

@media screen and (max-width: 400px) {
    .plan {
        &__content {
            display: grid;
            grid-template-columns: 1fr;
            gap: 30px;
        }
        &__item {
            padding: 30px 16px 24px 16px;
        }
        &__comingsoon {
            bottom: 50%;
            top: unset;
            transform: unset;
            transform: translateY(190%);
            left: 0;
            right: unset;
        }
    }
}