.whyus {
    &__heading {
        font-family: 'Gilroy-SemiBold', sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 1.28px;
        text-transform: uppercase;
        color: #27BE98;
        text-align: center;
        padding-bottom: 8px;
    }
    &__subheading {
        color: #162329;
        text-align: center;
        font-family: 'Gilroy-SemiBold', sans-serif;
        font-size: 64px;
        font-weight: 600;
        line-height: 104%;
        padding-bottom: 72px;
        
    }
    &__wrapper {
        flex-direction: column;
    }
    &__content {
        display: flex;
        position: relative;
        width: 100%;
        justify-content: center;
    }
    &__left {
        display: flex;
        position: absolute;
        flex-direction: column;
        top: 0;
        left: 0;
        &--item {
            display: flex;
            align-items: center;
            font-family: 'Gilroy-Medium', sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            padding-bottom: 32px;
            &:last-of-type {
                padding-bottom: unset !important;
            }
            &:nth-of-type(1) {
                margin-left: 75px;
            }
            &:nth-of-type(2) {
                margin-left: 30px;
            }
            &:nth-of-type(4) {
                margin-left: 30px;
            }
            &:nth-of-type(5) {
                margin-left: 75px;
            }

        }
    }
    &__right {
        display: flex;
        position: absolute;
        flex-direction: column; 
        top: 0;
        right: 0;
        &--item {
            display: flex;
            align-items: center;
            font-family: 'Gilroy-Medium', sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            padding-bottom: 32px;
            &:last-of-type {
                padding-bottom: unset;
            }

            &:nth-of-type(2) {
                margin-left: 30px;
            }
            &:nth-of-type(3) {
                margin-left: 70px;
            }
            &:nth-of-type(4) {
                margin-left: 30px;
            }
        }
    }
    &__img {
        width: 464px;
        height: 398px;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        &--img {
            width: 48px;
            height: 48px;
            margin-right: 16px;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
    &__btn {
        display: flex;
        width: 145px;
        height: 51px;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-family: 'Gilroy-Semibold', sans-serif;
        font-size: 16px;
        font-weight: 600;
        border-radius: 3px;
        background: var(--main-green, #38E7BA);
        margin-top: 90px;
    }
}
@media screen and (max-width: 1250px) {
    .whyus {
        &__heading {
            font-size: 12px;
        }
        &__subheading {
            font-size: 48px;
        }
        &__img {
            width: 300px;
            height: 250px;
            &--img {
                width: 32px;
                height: 32px;   
            }
        }
        &__left {
            &--item {
                padding-bottom: 15px;
                font-size: 16px;
            }
        }
        &__right {
            &--item {
                padding-bottom: 15px;
                font-size: 16px;
            }
        }
    }
}
@media screen and (max-width: 800px) {
    
}